{
"Advanced HVAC Project Engineer":"http://bigelowaerospace.com/bacareers/adv_hvac_prj_eng",
"Assembly Manager":"http://bigelowaerospace.com/bacareers/assembly_manager",
"Assembly Manager – Metallics":"http://bigelowaerospace.com/bacareers/assembly_manager_met",
"Assembly Technician":"http://bigelowaerospace.com/bacareers/assembly_tech",
"Assistant Assembly Manager":"http://bigelowaerospace.com/bacareers/asst_assem_mgr",
"Avionics Manager":"http://bigelowaerospace.com/bacareers/avionics_manager",
"Chief Operations Officer":"http://bigelowaerospace.com/bacareers/coo",
"CNC Machinist":"http://bigelowaerospace.com/bacareers/cnc_machinist",
"CNC Programmer":"http://bigelowaerospace.com/bacareers/cnc_programmer",
"Construction Contract Administrator":"http://bigelowaerospace.com/bacareers/construct_con_admin",
"Contract Attorney":"http://bigelowaerospace.com/bacareers/contract_attorney/",
"Contracts Officer":"http://bigelowaerospace.com/bacareers/contracts_officer/",
"Corporate Recruiter":"http://bigelowaerospace.com/bacareers/quality_staff",
"Cost Accountant":"http://bigelowaerospace.com/bacareers/cost_accountant/",
"Deputy Program Manager - Avionics":"http://bigelowaerospace.com/bacareers/deputy_prog_mgr_av",
"Deputy Program Manager - Metallics Assembly":"http://bigelowaerospace.com/bacareers/deputy_prog_mgr_met_assem",
"Design Drawing Checker":"http://bigelowaerospace.com/bacareers/cad_draw_check",
"ECLSS Fabrication Specialist – Air & Fluid Systems":"http://bigelowaerospace.com/bacareers/eclss_air_fluid_sysfab_spec",
"ECLSS Mechanical Design Engineer":"http://bigelowaerospace.com/bacareers/eclss_mech_des_eng",
"ECLSS Engineer - Temperature and Humidity Control":"http://bigelowaerospace.com/bacareers/eclss_eng_temp_humid",
"Electrical Engineer - Avionics":"http://bigelowaerospace.com/bacareers/elect_eng_avi",
"Electrical Engineer - ECLSS":"http://bigelowaerospace.com/bacareers/elect_eng_eclss",
"Full Stack (LAMP) Web Developer":"http://bigelowaerospace.com/bacareers/gfx_fullstackdev",
"General Manager – Air Barrier":"http://bigelowaerospace.com/bacareers/genmgr_air_barrier_spacecraft_hull_struct_softgoods",
"General Manager – Micrometeoroids & Orbital Debris (MMOD)":"http://bigelowaerospace.com/bacareers/genmgr_mmod_spacecraft_hull_struct_softgoods",
"General Manager – Restraint Layer":"http://bigelowaerospace.com/bacareers/genmgr_rest_layer_spacecraft_hull_struct_softgoods",
"Housekeeper":"http://bigelowaerospace.com/bacareers/housekeeper",
"Industrial Designer":"http://bigelowaerospace.com/bacareers/industrial_designer",
"I.T./Software Quality Assurance Engineer":"http://bigelowaerospace.com/bacareers/it_software_qa_engineer",
"Mechanical Engineering Structural Design Engineer":"http://bigelowaerospace.com/bacareers/mechanical_engineer_structural_designer",
"Mechanical Engineering Assistant Manager":"http://bigelowaerospace.com/bacareers/mechanical_engineering_department_assist_mgr",
"MMOD Assembly Technician":"http://bigelowaerospace.com/bacareers/softgoods_mmod_assembly_tech",
"Plant Facilities Manager/Superintendent":"http://bigelowaerospace.com/bacareers/plant_facilities_manager-superintendent",
"Production Assistant":"http://bigelowaerospace.com/bacareers/production_asst",
"Public Relations Specialist":"http://bigelowaerospace.com/bacareers/public_relations_mgr",
"Quality Inspector Metallics":"http://bigelowaerospace.com/bacareers/quality_inspect_met_jd",
"Security Officer":"http://bigelowaerospace.com/bacareers/security_officer",
"Sewing Technicians":"http://bigelowaerospace.com/bacareers/sewing_technicians",
"Softgoods Manufacturing Engineer":"http://bigelowaerospace.com/bacareers/softgoods_manu_eng",
"Softgoods Design Engineer":"http://bigelowaerospace.com/bacareers/softgoods_design_eng",
"Softgoods Production Supervisor":"http://bigelowaerospace.com/bacareers/softgoods_production_super",
"Softgoods Systems Engineer":"http://bigelowaerospace.com/bacareers/softgoods_sys_eng",
"Softgoods Thermal Protection System Technician":"http://bigelowaerospace.com/bacareers/softgoods_therm_pro_sys_tech/",
"Sr Electrical Integration Technician":"http://bigelowaerospace.com/bacareers/sr_elec_int_technician",
"System, Integration, & Test Engineer":"http://bigelowaerospace.com/bacareers/sys_int_test_engineer",
"Systems Engineer":"http://bigelowaerospace.com/bacareers/sys_eng",
"Technical Document Specialist":"http://bigelowaerospace.com/bacareers/tech_doc_spec",
"Test Manager":"http://bigelowaerospace.com/bacareers/test_mgr",
"Project Manager - Docking Systems":"http://bigelowaerospace.com/bacareers/project_dockingsys",
"Welder":"http://bigelowaerospace.com/bacareers/welder"}