{%extends "layout.html"%}

{%block header%}

  <title>Rocket Launches | Spaceflight Watch</title>
  <meta name="description" content="The latest in space news, rocket launches and aerospace jobs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" type="text/css" />

{%endblock%}


{%block scripts%}

  <script>
    var date = "{{ date }}";
    var time = "{{ time }}";
  </script>
  <script src={{url_for('static',filename='js/index.js')}}></script>

{%endblock%}


{%block content%}

  <div class="container-fluid nextlaunch-container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Next Rocket Launch: &nbsp;&nbsp;{{next}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 left">
        <p class="launch-date"></p>
      </div>
      <div class="col-xs-8 left">
        <p class="t-minus"></p>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth table">
    <div class="row">
      <div class="col-xs-12">
        <p class="watch-live">WATCH LIVE:</p>
        <iframe id="livestream" src="{{link}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container-fluid upcoming-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="upcoming">Upcoming Launches</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth table">
    <div class="row table-header">
      <div class="col-xs-2 left">
        <p>DATE</p>
      </div>
      <div class="col-xs-3 left">
        <p>VEHICLE &#8226; PAYLOAD</p>
      </div>
      <div class="col-xs-5 left">
        <p>LAUNCH TIME</p>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>

  <div id="launchTable" class="container-fluid fullwidth launch-table">
    <div class="container-fluid fullwidth launch-table-container">

      {% for data in upcoming %}
        <div class="row launches">
          <div class="col-xs-2 left">
            <p>{{data[2]}}, 2017</p>
          </div>
          <div class="col-xs-3 left">
            <p class="next-launch">{{ data[1] }}</p>
          </div>
          <div class="col-xs-5 left">
            <p class="time-until">{{ data[0] }}</p>
          </div>
          <div class="col-xs-2 right">
            <p></p>
          </div>
        </div>
      {% endfor %}

      <div class="row launches">
        <div class="col-xs-12 left">
          <p>*Launch data provided by <a href="http://spaceflightnow.com/launch-schedule" target="_blank">spaceflightnow.com</a></p>
        </div>
      </div>

    </div>
    <div class="bottom-fade"></div>
    <div class="expand-container">
      <button class="expand">View More</button>
    </div>
  </div>

  <script>

    var y = new Date().getFullYear();
    date = date + " " + y;
    function formatDate(date) {
      let d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();
      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;
      return [year, month, day].join('-');
    }
    date = formatDate(date);

    var time_utc;

    // get just the GMT time or TBD
    if (time != "TBD") {
      let gmt = time.indexOf("GMT");
      let dash = time.indexOf("-");
      time = time.slice(0,gmt);
      time = time.slice(0,dash);
      time = time.substr(0,2) + ":" + time.substr(2);
      if(time.length < 5){
        time = time + ":00";
      }
      time_utc = moment.utc(date + " " + time);
    }
    var offset = new Date().getTimezoneOffset();
    time_local = time_utc - offset;
    time_local_utc = moment.utc(time_utc - offset);
    time_formatted = moment(time_local).format('MMMM Do YYYY, h:mm:ss a');
    time_diff = time_local_utc - moment.utc();

    setInterval(function() {
      let now = moment.utc();
      let dt = time_local_utc - now;
      let sign = dt < 0 ? "+" : "-";
      let delta = Math.abs(dt) / 1000;
      let countdown = "";

      // calculate (and subtract) whole days
      let days = Math.floor(delta / 86400);
      delta -= days * 86400;

      // calculate (and subtract) whole hours
      let hours = Math.floor(delta / 3600) % 24;
      delta -= hours * 3600;

      // calculate (and subtract) whole minutes
      let minutes = Math.floor(delta / 60) % 60;
      delta -= minutes * 60;

      // what's left is seconds
      let seconds = Math.floor(delta % 60);

      switch(days) {
        case 2:
          countdown += days + " days ";
          break;
        case 1:
          countdown += days + " day ";
          break;
        case 0:
          coundown = "";
          break;
      }
      if (hours > 0) {
        if (hours > 1) {
          countdown += hours + " hours ";
        } else {
          countdown += hours + " hour ";
        }
      } else {
        if (days > 0) {
          countdown += hours + " hours ";
        }
      }
      if (minutes > 0) {
        if (minutes > 1) {
          countdown += minutes + " minutes ";
        } else {
          countdown += minutes + " minute ";
        }
      } else {
        if (hours > 0) {
          countdown += minutes + " minutes ";
        }
      }
      if (seconds == 1) {
        countdown += seconds + " second ";
      } else {
        countdown += seconds + " seconds ";
      }

      $('.t-minus').html("T" + sign + " " + countdown);

    }, 1000);

    $('.launch-date').html("LAUNCHING ON: " + time_formatted);


    // Watch Live script

    if ( (time_diff/1000 < 172800) && (time_diff/1000 > -3600)) {
      console.log(time_diff);
      var w = window.innerWidth * 0.7;
      var h = w * 0.56;
      var m = "5px auto " + w * 0.05 + "px auto";
      var m2 = w * 0.02 + "px auto 0 auto";

      $('#livestream').css({
        'display': 'block',
        'width': w,
        'height': h,
        'margin': m
      });
      $('.watch-live').css({
        'display': 'block',
        'width': w,
        'margin': m2
      });
    }

  </script>

{%endblock%}
