{%extends "layout.html"%}

{%block header%}

  <title>Rocket Launches | Spaceflight Watch</title>
  <meta name="description" content="The latest in space news, rocket launches and aerospace jobs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" type="text/css" />

{%endblock%}


{%block scripts%}

  <script>
    var date = "{{ date }}";
    var time = "{{ time }}";
  </script>
  <script src={{url_for('static',filename='js/index.js')}}></script>

{%endblock%}


{%block content%}

  <div class="container-fluid nextlaunch-container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Next Rocket Launch: &nbsp;&nbsp;{{next}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 left">
        <p class="launch-date"></p>
      </div>
      <div class="col-xs-8 left">
        <p class="t-minus"></p>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth table">
    <div class="row">
      <div class="col-xs-12">
        <p class="watch-live">WATCH LIVE:</p>
        <iframe id="livestream" src="{{link}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container-fluid upcoming-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="upcoming">Upcoming Launches</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth table">
    <div class="row table-header">
      <div class="col-xs-2 left">
        <p>DATE</p>
      </div>
      <div class="col-xs-2 left">
        <!--<p>VEHICLE &#8226; PAYLOAD</p>-->
        <p>LAUNCH VEHICLE</p>
      </div>
      <div class="col-xs-2 left">
        <p>PAYLOAD</p>
      </div>
      <div class="col-xs-6 left">
        <p>LAUNCH TIME</p>
      </div>
    </div>
  </div>

  <div id="launchTable" class="container-fluid fullwidth launch-table">
    <div class="container-fluid fullwidth launch-table-container">

      {% for data in upcoming %}
        {% set payload = data[1].split(' ') %}
        <div class="row launches">
          <div class="col-xs-2 left">
            <p>{{data[2]}}, 2017</p>
          </div>
          <div class="col-xs-2 left">
            <p class="next-launch">{{ data[1] }}</p>
          </div>
          <div class="col-xs-2 left">
            <p>{{ payload[1] }}</p>
          </div>
          <div class="col-xs-6 left">
            <p class="time-until">{{ data[0] }}</p>
          </div>
        </div>
      {% endfor %}

      <div class="row launches">
        <div class="col-xs-12 left">
          <p>*Launch data provided by <a href="http://spaceflightnow.com/launch-schedule" target="_blank">spaceflightnow.com</a></p>
        </div>
      </div>

    </div>
    <div class="bottom-fade"></div>
  </div>
  <div class="container-fluid bottom">
    <div class="row">
      <div class="col-xs-12">
        <div class="expand-container">
          <button class="expand">View More</button>
        </div>
      </div>
    </div>
  </div>

{%endblock%}
