{%extends "layout.html"%}

{%block header%}

  <title>Rocket Launches | Spaceflight Watch</title>
  <meta name="description" content="The latest in space news, rocket launches and aerospace jobs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" type="text/css" />

{%endblock%}


{%block scripts%}

  <script>
    var date = "{{ nextlaunch.date }}";
    var time = "{{ nextlaunch.time }}";
  </script>
  <script src={{url_for('static',filename='js/index.js')}}></script>

{%endblock%}


{%block stats%}

<div class="container-fluid fullwidth stats">
  <div class="row margins">
    <div class="col-xs-4 col-sm-3">
      <p>People Currently In Space: <span id="people_in_space"></span></p>
    </div>
    <div class="col-xs-4 col-sm-3">
      <p>Things Launched Into Space: <span id="num_objects">7,847</span></p>
    </div>
    <div class="col-xs-4 col-sm-6">
      <p>Furthest Spacecraft: Voyager 1 &#8226; <span id="voyager_1"></span></p>
    </div>
  </div>
</div>

{%endblock%}


{%block content%}

  <div class="container-fluid nextlaunch-container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Next Rocket Launch: &nbsp;&nbsp;{{nextlaunch.next}}
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=Next%20Rocket%20Launch:%20{{nextlaunch.next}}%2E%20Watch%20Live%20%3D%3E%20">
            Tweet
          </a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 left">
        <p class="launch-date"></p>
      </div>
      <div class="col-xs-4 left">
        <p class="t-minus"></p>
      </div>
      <div class="col-xs-4 left">
        <p class="site">{{nextlaunch.site}}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth table">
    <div class="row">
      <div class="col-xs-12">
        <p class="watch-live">WATCH LIVE:</p>
        <iframe id="livestream" src="{{nextlaunch.link}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="container-fluid upcoming-container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="upcoming">Upcoming Launches</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth table">
    <div class="row table-header no-wrap">
      <div class="col-xs-1 left norm-wrap">
        <p>DATE</p>
      </div>
      <div class="col-xs-2 left norm-wrap">
        <p>LAUNCH VEHICLE</p>
      </div>
      <div class="col-xs-2 left norm-wrap">
        <p>PAYLOAD</p>
      </div>
      <div class="col-xs-4 left norm-wrap">
        <p>LAUNCH TIME</p>
      </div>
      <div class="col-xs-3 left no-wrap">
        <p>LAUNCH SITE</p>
      </div>
    </div>
  </div>

  <div id="launchTable" class="container-fluid fullwidth launch-table">
    <div class="container-fluid fullwidth launch-table-container">

      {% for data in upcoming %}
        {% set vehicle = data[1].split('•') %}
        <div class="row launches no-wrap">
          <div class="col-xs-1 left norm-wrap">
            <p>{{data[2]}}</p>
          </div>
          <div class="col-xs-2 left norm-wrap">
            <p class="next-launch">{{ vehicle[0] }}</p>
          </div>
          <div class="col-xs-2 left norm-wrap">
            <p>{{ vehicle[1] }}</p>
          </div>
          <div class="col-xs-4 left norm-wrap">
            <p class="time-until">{{ data[0] }}</p>
          </div>
          <div class="col-xs-3 left no-wrap">
            <p>{{ data[3] }}</p>
          </div>
        </div>
      {% endfor %}

      <div class="row launches">
        <div class="col-xs-12 left">
          <p>*Launch data provided by <a href="http://spaceflightnow.com/launch-schedule" target="_blank">spaceflightnow.com</a></p>
        </div>
      </div>

    </div>
    <div class="bottom-fade"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="expand-container">
          <button class="expand">View More</button>
        </div>
      </div>
    </div>
  </div>

{%endblock%}
