{%extends "jobs_layout.html"%}

{%block header%}

  <title>Jobs | Spaceflight Watch</title>
  <meta name="description" content="The latest in space news, rocket launches and aerospace jobs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" type="text/css" />

{%endblock%}


{% block spacejobs %}
  <ul id="spacex__job-list" class="job-list selected">
    <!--
    {% for job in spacexjobs %}
        <li>
          <a href="http://www.spacex.com{{spacexjobs[job]}}" target="_blank">{{ job }}</a><br>
        </li>
    {% endfor %}
  -->
    {%for key in spacexjobs%}
      <li><h4>{{key}}</h4></li>
      {%for val in spacexjobs[key]%}
        <li>
          <a href="http://www.spacex.com{{val}}" target="_blank">{{ spacexjobs[key][val] }}</a><br>
        </li>
      {%endfor%}
    {%endfor%}
  </ul>

  <ul id="blueorigin__job-list" class="job-list">
    {% for job in blueoriginjobs %}
    <li>
      <a href="http://www.blueorigin.com{{blueoriginjobs[job]}}" target="_blank">{{ job }}</a><br>
    </li>
    {% endfor %}
  </ul>

  <ul id="phasefour__job-list" class="job-list">
    {% for job in phasefourjobs %}
    <li>
      <a href="{{phasefourjobs[job]}}" target="_blank">{{ job }}</a><br>
    </li>
    {% endfor %}
  </ul>

  <ul id="rocketlabs__job-list" class="job-list">
    {% for job in rocketlabsjobs %}
    <li>
      <a href="http://www.rocketlabusa.com{{rocketlabsjobs[job]}}" target="_blank">{{ job }}</a><br>
    </li>
    {% endfor %}
  </ul>

  <ul id="planetaryresources__job-list" class="job-list">
    {% for job in planetaryresourcesjobs %}
    <li>
      <a href="http://www.planetaryresources.com/careers/job-board/{{job[1]}}" target="_blank">{{ job[0] }}</a><br>
    </li>
    {% endfor %}
  </ul>

  <ul id="bigelow__job-list" class="job-list">
    {% for job in bigelowjobs %}
    <li>
      <a href="{{bigelowjobs[job]}}" target="_blank">{{ job }}</a><br>
    </li>
    {% endfor %}
  </ul>

  <script>

    $('.company-icon').on('click', function() {
      var company = $(this).attr('id');
      $('.job-list').removeClass('selected');
      $('#' + company + '__job-list').addClass('selected');

      $('.company-icon').removeClass('active');
      $(this).addClass('active');

      $('.jobs-list__bg').css('background-image', 'url(/static/images/' + company + '.png)');
      /*
      $(this).css({
        'filter': 'saturate(100%)',
        '-webkit-filter': 'saturate(100%)',
        '-moz-filter': 'saturate(100%)',
        '-ms-filter': 'saturate(100%)',
        '-o-filter': 'saturate(100%)'
      });
      */
    });

  </script>
{%endblock%}
