{%extends "layout.html"%}

{%block header%}

  <title>Jobs | Spaceflight Watch</title>
  <meta name="description" content="The latest in space news, rocket launches and aerospace jobs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href={{url_for('static',filename='css/index.css')}} rel="stylesheet" type="text/css" />

{%endblock%}

{%block scripts%}

  <script src={{url_for('static',filename='js/jobs.js')}}></script>

{%endblock%}


{%block content%}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>Space Jobs</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth companies-container">
    <div class="row row-eq-height companies">
      <div class="col-xs-4 col-md-2 company-icon-container">
        <img id="spacex" class="company-icon active" style="height:20px" src="static/images/spacex.png"/>
      </div>
      <div class="col-xs-4 col-md-2 company-icon-container">
        <img id="blueorigin" class="company-icon" style="height:14px" src="static/images/blueorigin.png"/>
      </div>
      <div class="col-xs-4 col-md-2 company-icon-container">
        <img id="planetaryresources" class="company-icon" style="height:18px" src="static/images/planetaryresources.png"/>
      </div>
      <div class="col-xs-4 col-md-2 company-icon-container">
        <img id="rocketlabs" class="company-icon" style="height:10px" src="static/images/rocketlabs.png"/>
      </div>
      <div class="col-xs-4 col-md-2 company-icon-container">
        <img id="phasefour" class="company-icon" style="height:14px" src="static/images/phasefour.png"/>
      </div>
      <div class="col-xs-4 col-md-2 company-icon-container">
        <img id="bigelow" class="company-icon" style="height:24px" src="static/images/bigelow.png"/>
      </div>
    </div>
  </div>

  <div class="container-fluid fullwidth jobs-container">
    <div class="row margins">
      <div class="col-xs-12">
        <div class="jobs-list">

          <ul id="spacex__job-list" class="job-list selected">
            {%for key in spacexjobs%}
              <li><h4>{{key}}</h4></li>
              {%for val in spacexjobs[key]%}
                {% for job in val %}
                <li class="job">
                  <a href="http://www.spacex.com{{val[job]}}">{{ job }}</a><br>
                </li>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </ul>

          <ul id="blueorigin__job-list" class="job-list">
            {% for job in blueoriginjobs %}
            <li>
              <a href="http://www.blueorigin.com{{blueoriginjobs[job]}}" target="_blank">{{ job }}</a><br>
            </li>
            {% endfor %}
          </ul>

          <ul id="phasefour__job-list" class="job-list">
            {% for job in phasefourjobs %}
            <li>
              <a href="{{phasefourjobs[job]}}" target="_blank">{{ job }}</a><br>
            </li>
            {% endfor %}
          </ul>

          <ul id="rocketlabs__job-list" class="job-list">
            {% for job in rocketlabsjobs %}
            <li>
              <a href="http://www.rocketlabusa.com{{rocketlabsjobs[job]}}" target="_blank">{{ job }}</a><br>
            </li>
            {% endfor %}
          </ul>

          <ul id="planetaryresources__job-list" class="job-list">
            {% for job in planetaryresourcesjobs %}
            <li>
              <a href="http://www.planetaryresources.com/careers/job-board/{{job[1]}}" target="_blank">{{ job[0] }}</a><br>
            </li>
            {% endfor %}
          </ul>

          <ul id="bigelow__job-list" class="job-list">
            {% for job in bigelowjobs %}
            <li>
              <a href="{{bigelowjobs[job]}}" target="_blank">{{ job }}</a><br>
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
    <div class="jobs-list__bg"></div>
    <div class="bottom-fade"></div>
  </div>

{%endblock%}
