<!DOCTYPE html>
<html lang="en">

  <head>

    {%block header%}
    {%endblock%}
    <!-- css files -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href={{url_for('static',filename='css/normalize.css')}} rel="stylesheet" type="text/css" />
    <link href={{url_for('static',filename='css/styles.css')}} rel="stylesheet" type="text/css" />

    <!-- scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src={{url_for('static',filename='js/moment.js')}}></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2870363654386694",
        enable_page_level_ads: true
      });
    </script>
    {%block scripts%}
    {%endblock%}

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2:200,300,400" rel="stylesheet">

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85884162-3', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body>

    <nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <a href="/">Rocket Launches</a>
            <a href="/jobs">Space Jobs</a>
            <a href="/news">Space News</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid top">
      <div class="row">
        <div class="col-xs-12 ad">
          <div class="alignleft">
             <script type="text/javascript">
               	amzn_assoc_ad_type = "banner";
              	amzn_assoc_marketplace = "amazon";
              	amzn_assoc_region = "US";
              	amzn_assoc_placement = "assoc_banner_placement_default";
              	amzn_assoc_banner_type = "ez";
              	amzn_assoc_p = "7";
              	amzn_assoc_width = "468";
              	amzn_assoc_height = "40";
              	amzn_assoc_tracking_id = "paceflightatc-20";
              	amzn_assoc_linkid = "2d66318ad358dff7f150e018ed88d44e";
             </script>
             <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid fullwidth">
      <div class="row">
        <div class="col-xs-10">
          {%block content%}
          {%endblock%}
        </div>
        <div class="col-xs-2" style="padding: 0">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=paceflightatc-20&marketplace=amazon&region=US&placement=B00X4WHP5E&asins=B00X4WHP5E&linkId=4c58c80f3a66f279be87db33306ee8d8&show_border=true&link_opens_in_new_window=true"></iframe>
        </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <p>Copyright &copy; Space Info &#8226; 2017</p>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
