{
"Flight Software Engineer":"http://www.moonexpress.com/careers-archive/flight-software-engineer/",
"Flight Software Engineer":"http://www.moonexpress.com/careers-archive/flight-software-engineer/",
"Spacecraft Systems Engineer":"http://www.moonexpress.com/careers-archive/spacecraft-systems-engineer/",
"Thermal Engineer":"http://www.moonexpress.com/careers-archive/thermal-engineer/",
"Spacecraft Mechanical Engineer":"http://www.moonexpress.com/careers-archive/spacecraft-mechanical-engineer/",
"GNC Engineer":"http://www.moonexpress.com/careers-archive/gnc-engineer/",
"Mission Design Analyst":"http://www.moonexpress.com/careers-archive/mission-design-analyst/",
"Project Engineer":"http://www.moonexpress.com/careers-archive/project-engineer/",
"Spacecraft Flight Operations Engineer":"http://www.moonexpress.com/careers-archive/spacecraft-flight-operations-engineer/"}