{
"time":"1200:01 GMT",
"next":"Vector-R • Test Payload",
"link":"<iframe id=\"ls_embed_1501711912\" src=\"https://livestream.com/accounts/25660170/events/7633093/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=&autoPlay=true&mute=false\" width=\"640\" height=\"360\" frameborder=\"0\" scrolling=\"no\" allowfullscreen></iframe>",
"date":"Aug. 3",
"site":"Spaceport Camden, Georgia"
}
<!--
{
"0500-1400 GMT (1:00-10:00 a.m. EDT)",
"H-2A • Michibiki 3",
"link":"https://www.youtube.com/embed/8nCpyyDBqr0"
"Aug. 11",
"Tanegashima Space Center, Japan"
}-->
