{
"Composite Builder":"/careers/positions/composite-builder-auckland-new-zealand-2766523/",
"Composites Laminator":"/careers/positions/composites-laminator-auckland-new-zealand-2766527/",
"Electromechanical Technician":"/careers/positions/electromechanical-technician-huntington-beach-los-angeles-2766531/",
"Software Intern Opportunity":"/careers/positions/software-intern-opportunity-auckland-new-zealand-2766538/",
"Quality Control Technician":"/careers/positions/quality-control-technician-auckland-new-zealand-2766545/",
"De-burring Labourer - Casual":"/careers/positions/de-burring-labourer-casual-auckland-new-zealand-2766406/",
"Senior IT Systems Engineer":"/careers/positions/senior-it-systems-engineer-auckland-new-zealand-2765324/",
"RF/Communications Technician":"/careers/positions/rfcommunications-technician-auckland-new-zealand-2765210/",
"Production Design Engineer":"/careers/positions/production-design-engineer-auckland-new-zealand-2764040/",
"Manufacturing Engineer":"/careers/positions/manufacturing-engineer-auckland-new-zealand-2762667/",
"Propulsion Precision Cleaner":"/careers/positions/propulsion-precision-cleaner-huntington-beach-los-angeles-2760049/",
"Propulsion Assembly Technician":"/careers/positions/propulsion-assembly-technician-huntington-beach-los-angeles-2760050/",
"Additive Manufacturing Technician":"/careers/positions/additive-manufacturing-technician-huntington-beach-los-angeles-2760053/",
"Administration Assistant":"/careers/positions/administration-assistant-huntington-beach-los-angeles-2759994/",
"Health and Safety Consultant - Fixed Term":"/careers/positions/health-and-safety-consultant-fixed-term-auckland-new-zealand-2758868/",
"Accounts Assistant":"/careers/positions/accounts-assistant-auckland-new-zealand-2757777/"}