{
"Logistics Coordinator":"/careers/positions/logistics-coordinator-huntington-beach-los-angeles-2779175/",
"Test Engineer":"/careers/positions/test-engineer-auckland-new-zealand-2779195/",
"Logistics Coordinator":"/careers/positions/logistics-coordinator-auckland-new-zealand-2778017/",
"Launch Range Assistant":"/careers/positions/launch-range-assistant-mahia-new-zealand-2777769/",
"General Applicants":"/careers/positions/general-applicants-auckland-new-zealand-2776604/",
"Rocket Lab Internship Programme":"/careers/positions/rocket-lab-internship-programme-auckland-new-zealand-2775816/",
"Analysis Internship":"/careers/positions/analysis-internship-auckland-new-zealand-2775827/",
"Avionics Internship":"/careers/positions/avionics-internship-auckland-new-zealand-2775834/",
"GNC Internship":"/careers/positions/gnc-internship-auckland-new-zealand-2775840/",
"Production & Manufacturing Internship":"/careers/positions/production-and-manufacturing-internship-auckland-new-zealand-2775844/",
"Propulsion Test Cell Internship  (6 months)":"/careers/positions/propulsion-test-cell-internship-6-months-auckland-new-zealand-2775849/",
"Software Internships":"/careers/positions/software-internships-auckland-new-zealand-2775857/",
"Lead RF Engineer":"/careers/positions/lead-rf-engineer-auckland-new-zealand-2775352/",
"Avionics Manufacturing Technician":"/careers/positions/avionics-manufacturing-technician-auckland-new-zealand-2772910/",
"Composite Apprentice":"/careers/positions/composite-apprentice-auckland-new-zealand-2772915/",
"Engineering Flight Analyst":"/careers/positions/engineering-flight-analyst-auckland-new-zealand-2772921/"}