{
"GNC Engineer":"/careers/position/203688",
"Avionics EEE Parts Engineer (Component Engineer)":"/careers/position/204327",
"Avionics Test Engineer":"/careers/position/209546",
"Hardware Design Engineer":"/careers/position/202908",
"Hardware Development Manager":"/careers/position/208389",
"Mechanical Design Engineer (Component)":"/careers/position/208028",
"Mechanical Design Engineer (Integration)":"/careers/position/205259",
"Mechanical Design Engineer - Test Engineering":"/careers/position/207819",
"Mechanical/Controls Engineer":"/careers/position/207917",
"RF Design Engineer":"/careers/position/207265",
"Senior Hardware Design Engineer - Computers and Networking Systems":"/careers/position/200455",
"Sensor Design Electrical Engineer":"/careers/position/206176",
"Sensors Development Manager":"/careers/position/205418",
"Solar Array Engineer":"/careers/position/205985",
"Solar Array Technician":"/careers/position/208022",
"Sr. Avionics Test Engineer":"/careers/position/206119",
"Sr. Hardware Development Engineer":"/careers/position/208033",
"Test Engineering Technical Project Lead":"/careers/position/207384",
"Avionics Harness Design Engineer":"/careers/position/203638",
"Build Engineer - Avionics Development":"/careers/position/206262",
"Build Engineer, Avionics Electro-Mechanical Systems":"/careers/position/206189",
"Instrumentation Engineer":"/careers/position/204528",
"Instrumentation Engineer - Components":"/careers/position/205272",
"Senior Electromagnetic Environmental Effects (E3) Engineer":"/careers/position/208628",
"Communications Manager":"/careers/position/206969",
"Director, Corporate Communications":"/careers/position/206975",
"Associate Engineer - Post Grad Spring 2018 (Cape Canaveral)":"/careers/position/208848",
"Associate Engineer - Post Grad Spring 2018 (Irvine)":"/careers/position/209478",
"Associate Engineer - Post Grad Spring 2018 (Los Angeles)":"/careers/position/209466",
"Associate Engineer - Post Grad Spring 2018 (McGregor)":"/careers/position/208849",
"Associate Engineer - Post Grad Spring 2018 (Vandenberg)":"/careers/position/209477",
"Internship/Co-Op Spring 2018 (Cape Canaveral)":"/careers/position/208846",
"Internship/Co-op Spring 2018 (Los Angeles)":"/careers/position/209465",
"Internship/Co-Op Spring 2018 (McGregor)":"/careers/position/208774",
"Internship/Co-op Spring 2018 (Redmond)":"/careers/position/209468",
"Internship/Co-op Spring 2018 (Vandenberg)":"/careers/position/209467",
"Accounts Payable Specialist":"/careers/position/209485",
"Buyer":"/careers/position/209508",
"Electrician":"/careers/position/209236",
"Security Officer":"/careers/position/209998",
"Environmental Health & Safety Technician":"/careers/position/209418",
"HR Data Specialist":"/careers/position/208521",
"Human Resources Coordinator":"/careers/position/208723",
"Human Resources Representative":"/careers/position/208504",
"Contracts Officer/Attorney":"/careers/position/209551",
"Development Test Engineer":"/careers/position/208708",
"Development Test Technician":"/careers/position/208059",
"Information Security Assurance Lead":"/careers/position/208770",
"Network Security Engineer - Information Security":"/careers/position/208244",
"Security Automation Engineer":"/careers/position/207519",
"Enterprise Software Engineer - Entry Level":"/careers/position/208830",
"Full Stack Enterprise Software Engineer":"/careers/position/204494",
"Full Stack Enterprise Software Engineer":"/careers/position/206174",
"Full-Stack Enterprise Software Engineer":"/careers/position/202555",
"Manager, Information Systems":"/careers/position/209936",
"Software Architect":"/careers/position/205532",
"Software Engineer - DevOps":"/careers/position/209008",
"Applications Product Manager":"/careers/position/207871",
"Applications Product Manager":"/careers/position/204415",
"Applications Product Manager":"/careers/position/209553",
"Business Intelligence Engineer":"/careers/position/209009",
"Database Administrator":"/careers/position/209011",
"IT Systems Administrator":"/careers/position/209107",
"Jira Administrator/Developer":"/careers/position/209977",
"Systems Engineer - ELK Stack":"/careers/position/208285",
"Civil Engineer":"/careers/position/209000",
"Civil Engineer (Cape Canaveral)":"/careers/position/208999",
"Crane Operator":"/careers/position/208562",
"Electrical Power Launch Engineer (Cape Canaveral)":"/careers/position/209758",
"Launch Engineer, Fluid Systems":"/careers/position/208994",
"Launch Manufacturing Engineer":"/careers/position/209709",
"Launch Mechanical Engineer":"/careers/position/209076",
"Naval/Marine Architect":"/careers/position/209423",
"Recovery Engineer (Integration & Test)":"/careers/position/209018",
"Recovery Operations Engineer":"/careers/position/205645",
"Recovery Specialist, San Pedro":"/careers/position/209560",
"Recovery Technician":"/careers/position/208544",
"Avionics Manufacturing Engineer, Wire Harness":"/careers/position/207083",
"Build Engineer, Batteries":"/careers/position/207084",
"Build Reliability Engineer":"/careers/position/202165",
"Falcon Manufacturing Engineer - Composites":"/careers/position/206819",
"Fluid Systems Manufacturing Engineer":"/careers/position/209844",
"Lead Manufacturing Engineer":"/careers/position/209852",
"Lead Process Manufacturing Engineer":"/careers/position/208564",
"Manufacturing Development Engineer (Launch Vehicle Integration)":"/careers/position/209244",
"Manufacturing Development Engineer - Formed Structures":"/careers/position/209231",
"Manufacturing Development Engineer – Pressure Vessels":"/careers/position/207070",
"Manufacturing Engineer (Dragon Structures)":"/careers/position/205401",
"Manufacturing Engineer (Electronics Hardware)":"/careers/position/209863",
"Manufacturing Engineer (Launch Vehicle Integration 2nd shift)":"/careers/position/209860",
"Manufacturing Engineer (Machine Shop)":"/careers/position/205388",
"Manufacturing Engineer (RF Electronics Hardware)":"/careers/position/209853",
"Manufacturing Engineer - Pressure Vessels & Systems (2nd Shift)":"/careers/position/208011",
"Manufacturing Engineer, Batteries":"/careers/position/208439",
"Mechanical Engineer, Composites":"/careers/position/209309",
"Principal Materials Engineer":"/careers/position/209396",
"Process Engineer – Avionics Electro-Mechanical Assembly":"/careers/position/208237",
"Production Certification Engineer":"/careers/position/209605",
"Propulsion Manufacturing Engineer (Merlin Thrust Chamber)":"/careers/position/209102",
"Weld Manufacturing Engineer (Propulsion Assembly)":"/careers/position/209851",
"Avionics Production Supervisor - Space Simulation Test Lab":"/careers/position/205858",
"Composites Production Supervisor - Lamination":"/careers/position/207919",
"Lead Friction Stir Weld Technician":"/careers/position/209084",
"Lead Structures Technician - Dragon":"/careers/position/209077",
"Manager, Production":"/careers/position/209041",
"Production Manager":"/careers/position/206448",
"Production Quality Assurance Manager - Falcon 9":"/careers/position/209631",
"Production Supervisor - Integration - Dragon Cleanroom":"/careers/position/206946",
"Production Supervisor - Merlin Components":"/careers/position/207330",
"Production Supervisor - PROP & OTW":"/careers/position/208691",
"Quality Assurance Supervisor - Merlin":"/careers/position/208180",
"Quality Supervisor - F9 - 2nd Shift":"/careers/position/206091",
"Composites Technician":"/careers/position/209570",
"Composites Technician":"/careers/position/209427",
"Composites Technician":"/careers/position/209429",
"Composites Technician":"/careers/position/208803",
"Crane Operator":"/careers/position/209349",
"Friction Stir Weld Technician":"/careers/position/209620",
"Machine Shop Supervisor (2nd Shift)":"/careers/position/209484",
"Manufacturing Specialist":"/careers/position/207585",
"Material Handler":"/careers/position/207155",
"Material Handler":"/careers/position/209946",
"Process Planner":"/careers/position/209984",
"Production Certification Specialist":"/careers/position/209731",
"Production Coordinator - F9":"/careers/position/208612",
"Technical Trainer (Avionics Production) - Electro-Mechanical":"/careers/position/206453",
"Technical Trainer (Avionics Production) - Quality Assurance":"/careers/position/206452",
"Technical Writer - Launch Vehicle Subassembly":"/careers/position/207918",
"Test Specialist":"/careers/position/209734",
"AS9100 Quality Engineer":"/careers/position/206154",
"Avionics Quality Inspector":"/careers/position/205233",
"Launch Quality Inspector":"/careers/position/205820",
"Lead Quality Inspector - Dragon Assembly":"/careers/position/209248",
"Lead Quality Inspector - Dragon Integration":"/careers/position/209247",
"Lead Quality Inspector - Precision Tube Shop (2nd Shift)":"/careers/position/209757",
"Machining Quality Inspector":"/careers/position/209690",
"Metrology Engineer":"/careers/position/207823",
"Metrology Technician":"/careers/position/205166",
"NDE (Non-Destructive Evaluation) Level II - Eddy Current Inspection Technician":"/careers/position/207350",
"NDE (Non-Destructive Evaluation) Level II - Penetrant Inspection Technician":"/careers/position/209322",
"NDE (Non-Destructive Evaluation) Level II - Phased Array Ultrasonic Inspection Technician (PAUT)":"/careers/position/208524",
"NDE (Non-Destructive Evaluation) Level II - Radiography Inspection Technician":"/careers/position/207349",
"NDE (Non-Destructive Evaluation) Level III, Eddy Current Specialist":"/careers/position/209336",
"NDE (Non-Destructive Evaluation) Level III, Eddy Current Specialist":"/careers/position/204382",
"NDE (Non-Destructive Evaluation) Level III, Radiography Operations Specialist":"/careers/position/208719",
"NDE (Non-Destructive Evaluation) Supervisor":"/careers/position/205334",
"NDT Level III Operations Specialist":"/careers/position/209086",
"Process Development Engineer":"/careers/position/207319",
"Program Reliability Engineer":"/careers/position/208444",
"Quality Assurance Supervisor - Dragon":"/careers/position/209075",
"Quality Inspector - Composites Structures and Integration (2nd Shift)":"/careers/position/206859",
"Quality Management Systems Specialist":"/careers/position/209516",
"Test Specialist":"/careers/position/209637",
"Welding Inspection Specialist":"/careers/position/207673",
"Avionics Harness Technician":"/careers/position/209559",
"Avionics Integration Technician (Falcon 9 Rocket)":"/careers/position/206439",
"Avionics Production Support Technician":"/careers/position/209447",
"Avionics Technician - Crew Dragon R&D":"/careers/position/207493",
"Avionics Test Technician (Hardware) - 2nd shift":"/careers/position/206631",
"CMM Inspector":"/careers/position/208627",
"CNC Lathe Machinist":"/careers/position/208936",
"CNC Machinist":"/careers/position/207839",
"CNC Programmer":"/careers/position/205290",
"CNC VTL Machinist - 1st and 2nd shift":"/careers/position/209842",
"Composites Integration Technician (Interstage) - 2nd shift":"/careers/position/205066",
"Composites Technician (Dragon Spacecraft)":"/careers/position/206645",
"Composites Technician (Fairing) - 2nd shift":"/careers/position/205091",
"Composites Technician - Dragon R&D":"/careers/position/207488",
"Composites Technician - High Temperature":"/careers/position/207085",
"Composites Technician - Lamination (2nd shift)":"/careers/position/209394",
"Composites Technician - Subassemblies (2nd shift)":"/careers/position/206169",
"Electromechanical Technician":"/careers/position/209947",
"Electron Beam Welder - Dragon":"/careers/position/206385",
"Expeditor":"/careers/position/207113",
"Expeditor (Precision Tube Fabrication)":"/careers/position/207810",
"Expeditor (Spacecraft Research & Development)":"/careers/position/204907",
"Expeditor - Composites Production (2nd shift)":"/careers/position/206445",
"Expeditor - Falcon 9 Rocket":"/careers/position/208181",
"Final Integration Technician":"/careers/position/207476",
"Friction Stir Weld Technician (Falcon 9 Rocket)":"/careers/position/206367",
"Lead Avionics Electro-Mechanical Technician":"/careers/position/209639",
"Lead Avionics Harness Technician":"/careers/position/209954",
"Lead Avionics Test Technician":"/careers/position/209433",
"Lead Closeout Technician - Falcon 9 Launch Vehicle":"/careers/position/209215",
"Lead Composites Technician - PAF and Interstage (2nd shift)":"/careers/position/208693",
"Lead Final Integration Technician - F9 2nd Stage":"/careers/position/209565",
"Lead High Temperature Composites Technician":"/careers/position/208559",
"Lead Integration Technician":"/careers/position/209408",
"Lead Integration Technician (F9 - Advanced Subassemblies)":"/careers/position/208378",
"Lead Integration Technician - F9":"/careers/position/209940",
"Lead Propulsion Integration Technician - 2nd Shift":"/careers/position/209562",
"Lead Propulsion Technician":"/careers/position/204408",
"Lead Structures Technician - Dragon - Mechanical Assembly":"/careers/position/207874",
"Lead TIG Welder - Tube Shop":"/careers/position/206447",
"Machine Shop Supervisor":"/careers/position/209288",
"Mfg Engineering Development Technician (Composites R&D)":"/careers/position/207332",
"Orbital Welder (Falcon 9 Rocket)":"/careers/position/204766",
"Paint Technician (2nd shift)":"/careers/position/205354",
"Precision Cleaning Technician":"/careers/position/204929",
"Precision Cleaning Technician (F9 Integration)":"/careers/position/204927",
"Precision Cleaning Technician (Falcon 9 Rocket)":"/careers/position/204658",
"Propulsion Technician (Dragon Spacecraft)":"/careers/position/205588",
"Propulsion Technician (F9 Structures Assembly)":"/careers/position/204931",
"Propulsion Technician (Merlin 1D Rocket Engine)":"/careers/position/205586",
"Propulsion Technician - (Falcon 9 Close Out Technician)":"/careers/position/209352",
"Propulsion Technician - Dragon Spacecraft - Proof & Leak":"/careers/position/207925",
"Quality Assurance Inspector - Merlin 1D Rocket Engine":"/careers/position/206586",
"Quality Inspector (Falcon 9 Rocket)":"/careers/position/206583",
"Rigger - Falcon 9 Rocket":"/careers/position/208709",
"Sinker EDM Machinist":"/careers/position/209554",
"Structures Technician (Falcon 9 Rocket)":"/careers/position/207003",
"Structures Technician - 2nd shift":"/careers/position/209980",
"Structures Technician - Mechanisms (Dragon Spacecraft)":"/careers/position/205922",
"Structures Technician- 1st shift":"/careers/position/209982",
"Support Technician":"/careers/position/205615",
"Test Technician":"/careers/position/209736",
"Test Technician - Composites Structures":"/careers/position/206259",
"Test Technician - Dragon Spacecraft":"/careers/position/206386",
"TIG Welder (Falcon 9 Rocket)":"/careers/position/207023",
"TIG Welder (Merlin 1D Rocket Engine)":"/careers/position/205587",
"Vehicle Engineering and Integration Test Administrator":"/careers/position/206375",
"Welder (Merlin 1D Rocket Engine)":"/careers/position/205585",
"Casting Engineer":"/careers/position/208912",
"Corrosion Engineer":"/careers/position/209776",
"Manager, Materials Engineering":"/careers/position/209785",
"Manager, Materials Engineering (Avionics)":"/careers/position/209825",
"Materials Engineer (Avionics)":"/careers/position/209600",
"Materials Engineer, Composites":"/careers/position/209068",
"Materials Test Engineer (McGregor, TX)":"/careers/position/207048",
"Metallurgist":"/careers/position/209784",
"Sr. Materials Engineer":"/careers/position/209999",
"Sr. Materials Engineer (Avionics)":"/careers/position/209601",
"Sr. Metallurgist":"/careers/position/209783",
"Welding Engineer":"/careers/position/209596",
"Flight Reliability Engineer":"/careers/position/208537",
"Senior Manager, Flight Reliability":"/careers/position/209680",
"Commercial Mission Manager":"/careers/position/209419",
"Mission Integration Engineer":"/careers/position/209031",
"Vehicle System Certification Engineer":"/careers/position/209832",
"Director of Propulsion Turbomachinery":"/careers/position/205698",
"Dragon Propulsion Engineer":"/careers/position/209434",
"Manufacturing Engineer (Dragon Propulsion System)":"/careers/position/205412",
"Manufacturing Engineer (Propulsion Components)":"/careers/position/209486",
"Propulsion Build Engineer":"/careers/position/209786",
"Propulsion Components Technician":"/careers/position/209073",
"Propulsion Development Engineer":"/careers/position/208123",
"Propulsion R&D Technician":"/careers/position/209691",
"Propulsion Structural Analyst":"/careers/position/205295",
"Sr. Computational Physicist":"/careers/position/209836",
"Build Reliability Engineer (Launch)":"/careers/position/207630",
"Certified Weld Inspector":"/careers/position/209592",
"Electrical Ground Support Equipment Cable & Harness Fabricator (Cape Canaveral)":"/careers/position/208605",
"Fleet Electrical Engineer (Cape Canaveral)":"/careers/position/209359",
"Fleet GSE Engineer (Cape Canaveral)":"/careers/position/207547",
"Fleet GSE Launch Technician":"/careers/position/208897",
"Fleet Manufacturing Engineer (Cape Canaveral)":"/careers/position/208934",
"Laser Tracker Toolmaker (Cape Canaveral)":"/careers/position/209360",
"Launch Electrical Engineer (Command, Control & Instrumentation)":"/careers/position/208538",
"Launch Engineer, Crew Dragon Launch Operations (Cape Canaveral)":"/careers/position/209779",
"Launch Engineer, Fluid Systems (Cape Canaveral)":"/careers/position/209778",
"Launch Engineer, RF & Communication Systems (Cape Canaveral)":"/careers/position/209294",
"Launch Engineer, Vehicle Integration (Cape Canaveral)":"/careers/position/208997",
"Plasma Cutting System Operator":"/careers/position/209422",
"Process Planner":"/careers/position/207812",
"Recovery Electrician":"/careers/position/209517",
"Recovery Operations Engineer (Cape Canaveral)":"/careers/position/207840",
"Sr. Integration & Test Engineer, Dragon & Fairing (Cape Canaveral)":"/careers/position/207366",
"Build Reliability Engineer (Launch) - 2nd shift":"/careers/position/206782",
"Communications Electrical Engineer, Vandenberg":"/careers/position/208692",
"Electrical Systems Launch Engineer":"/careers/position/207911",
"Launch Engineer (Mechanical Systems), Vandenberg":"/careers/position/208696",
"Launch Instrumentation Technician, Vandenberg":"/careers/position/208015",
"Launch Quality Inspector":"/careers/position/208219",
"Launch Technician (Vehicle & Payload Integration)":"/careers/position/205096",
"Lead Engineer, Fluid Systems":"/careers/position/209421",
"Payload Integration Technician, Launch Site":"/careers/position/207481",
"Process Planner, Vandenberg":"/careers/position/208705",
"Project Engineer (Vandenberg)":"/careers/position/208611",
"Vehicle Integration Engineer":"/careers/position/208515",
"Antenna Engineer":"/careers/position/209405",
"CNC NX Programmer":"/careers/position/208687",
"Communications System Engineer":"/careers/position/206099",
"EDA / CAD Systems Administrator":"/careers/position/206113",
"Formal Verification Engineer":"/careers/position/208385",
"FPGA / ASIC Engineer":"/careers/position/205084",
"FPGA / ASIC Verification Engineer":"/careers/position/206352",
"FPGA Design Engineer":"/careers/position/205313",
"FPGA Verification Engineer":"/careers/position/205976",
"Hardware Development Electrical Engineer":"/careers/position/209381",
"Hardware Technical Project Lead - Silicon":"/careers/position/203281",
"Hardware Test Engineer":"/careers/position/209003",
"Lead ASIC Verification Engineer":"/careers/position/207055",
"Lead Harness Design Engineer":"/careers/position/202339",
"Mechanical Build Engineer - Satellites":"/careers/position/206823",
"Mechanical Design Engineer":"/careers/position/209658",
"Operations and Automation Engineer":"/careers/position/205873",
"Orbit Determination Engineer":"/careers/position/207470",
"PCB Librarian":"/careers/position/209891",
"Power Electronics Engineer":"/careers/position/203192",
"Principal ASIC Design Engineer":"/careers/position/200425",
"Principal ASIC Engineer":"/careers/position/203274",
"Principal ASIC Lead":"/careers/position/206301",
"Principal Hardware Development Electrical Engineer":"/careers/position/200937",
"Principal Modem Engineer":"/careers/position/202991",
"Principal RF / Microwave Engineer":"/careers/position/206364",
"Principal RFIC Engineer":"/careers/position/206366",
"Principal Technical Project Lead":"/careers/position/207863",
"Printed Circuit Board Assembly Manufacturing Engineer":"/careers/position/206150",
"Prototype Manufacturing Engineer - Satellite Assembly":"/careers/position/204414",
"Receiving Clerk":"/careers/position/209949",
"Reliability Engineer":"/careers/position/205513",
"RF Engineer":"/careers/position/208796",
"RF/Microwave Engineer":"/careers/position/206467",
"Satellite Attitude Determination and Control Engineer":"/careers/position/205406",
"Satellite System Integration Engineer":"/careers/position/206298",
"Satellite System Test Engineer":"/careers/position/206299",
"Security Engineer":"/careers/position/206097",
"Senior ASIC / SoC System Integration Engineer":"/careers/position/9084",
"Senior ASIC Design Engineer":"/careers/position/207123",
"Senior ASIC Engineer":"/careers/position/208386",
"Senior Mechanical Design Engineer":"/careers/position/209657",
"Senior Modem Engineer":"/careers/position/209735",
"Software Technical Project Lead":"/careers/position/209342",
"Spacecraft Dynamic Environments Engineer":"/careers/position/208503",
"Sr. ASIC / FPGA Verification Engineer":"/careers/position/206351",
"Sr. ASIC Verification Engineer":"/careers/position/202757",
"Sr. Director, Reliability Engineering":"/careers/position/205190",
"Sr. Electromagnetic Environmental Effects Engineer":"/careers/position/202766",
"Sr. Hardware Development Electrical Engineer":"/careers/position/209406",
"Sr. Hardware Test Engineer":"/careers/position/209414",
"Sr. Modem Engineer":"/careers/position/208911",
"Sr. Modem Firmware Engineer":"/careers/position/206883",
"Sr. Power System Engineer":"/careers/position/209595",
"Sr. Reliability Engineer":"/careers/position/205514",
"Sr. RF System Engineer":"/careers/position/207587",
"Sr. RF/Microwave Engineer":"/careers/position/207530",
"Sr. RF/Microwave Engineer":"/careers/position/206469",
"Sr. RFIC Engineer":"/careers/position/205253",
"Test and Manufacturing Development Engineer":"/careers/position/207439",
"Wireless Protocol Software Engineer":"/careers/position/208376",
"Wireless Protocol Software Engineer":"/careers/position/207930",
"Wireless Test Engineer":"/careers/position/205799",
"Crew Displays Software Engineer in Test":"/careers/position/206151",
"Full Stack Software Developer":"/careers/position/205952",
"Full Stack Software Developer, Avionics":"/careers/position/207861",
"Principal Lead Software Engineer":"/careers/position/206112",
"Principal Software Engineer, Network":"/careers/position/206917",
"Software Development Test Engineer":"/careers/position/206117",
"Software Development Test Engineer":"/careers/position/9087",
"Software Engineer (Liquid Engine Development)":"/careers/position/206900",
"Software Engineer - Hardware Test":"/careers/position/205083",
"Software Engineer, Network":"/careers/position/206866",
"Sr. Display Front End Software Engineer":"/careers/position/209878",
"Sr. Flight Software Engineer":"/careers/position/206103",
"Sr. Software Engineer (Flight)":"/careers/position/209961",
"Dynamics Engineer (Loads, Environments & Multi Body)":"/careers/position/207163",
"Dynamics Software Engineer":"/careers/position/201060",
"Vehicle Engineering Fatigue Analyst":"/careers/position/208436",
"Vehicle Engineering Structures Analyst":"/careers/position/206098",
"Build Integration Engineer":"/careers/position/208861",
"Dragon Life Support Systems Engineer":"/careers/position/207859",
"Dragon Structures Engineer":"/careers/position/209016",
"Falcon 9 Stage 2 Vehicle Engineer":"/careers/position/206545",
"Falcon Mechanisms Engineer":"/careers/position/205085",
"Integration & Test Engineer (Dragon Spacecraft Assembly)":"/careers/position/206263",
"Manufacturing Engineer (Dragon Environmental & Thermal Control System)":"/careers/position/207500",
"Manufacturing Engineer (Spacecraft Mechanisms)":"/careers/position/207848",
"Propulsion Components Test Engineer":"/careers/position/209012",
"Structures Engineer (Fasteners)":"/careers/position/207317",
"Structures Engineer Falcon 9":"/careers/position/201061",
"Structures Engineer, Falcon 9 (Fairing)":"/careers/position/209361",
"Structures Engineer, Falcon 9 (Thrust Structures)":"/careers/position/208443",
"Structures Systems Engineer":"/careers/position/205533",
"Vehicle Development Engineer":"/careers/position/206818",
"Associate Buyer - Launch Vehicle Composites":"/careers/position/207809",
"Buyer - Composites":"/careers/position/209550",
"Buyer - Machining Commodity":"/careers/position/208358",
"Buyer - New Product Introduction (NPI)":"/careers/position/208165",
"Buyer, Castings":"/careers/position/208701",
"CMM Programmer (1st Shift)":"/careers/position/209030",
"Data Scientist":"/careers/position/209761",
"Inventory Control Analyst":"/careers/position/209948",
"Inventory Specialist":"/careers/position/209514",
"Inventory Specialist (2nd Shift)":"/careers/position/209051",
"Manager, Operations Planning":"/careers/position/209299",
"Manager, Procurement - Composites Commodity":"/careers/position/209214",
"Manager, Quality Assurance - Incoming Quality":"/careers/position/208246",
"Manager, Quality Assurance - Receiving Inspection":"/careers/position/208247",
"Manager, Supply Chain Integration - Avionics":"/careers/position/209014",
"Manufacturing Engineer, Supply Chain":"/careers/position/208676",
"Material Handler (2nd Shift)":"/careers/position/208917",
"Material Planner - Operations Planning":"/careers/position/208820",
"Process Specialist":"/careers/position/207965",
"Product Cost Analyst":"/careers/position/209220",
"Senior Manager, Supplier Intervention":"/careers/position/208885",
"Sr. Buyer - Connector, Cable, Harness and Hardware":"/careers/position/208581",
"Sr. Manager, Procurement - Custom Silicon, EE, PCB, PCBA":"/careers/position/208348",
"Sr. Manager, Procurement - Machining Commodity":"/careers/position/208824",
"Sr. Manager, Procurement -Raw Materials, Castings/Forgings, Special Processing, and Hardware Commodities":"/careers/position/209475",
"Supervisor, Receiving Inspection":"/careers/position/208166",
"Supplier Development Engineer - Avionics":"/careers/position/206971",
"Supplier Development Engineer - Machining":"/careers/position/206383",
"Supplier Development Engineer - Special Processes":"/careers/position/209497",
"Supplier Development Engineer - Valves":"/careers/position/208883",
"Supply Chain Systems Engineer":"/careers/position/209074",
"Build Reliability Engineer (Test)":"/careers/position/208218",
"Flight Reliability Engineer":"/careers/position/205884",
"Fluid Systems Software Engineer":"/careers/position/209400",
"Launch and Test Operations Development Engineer":"/careers/position/209425",
"Crane Operator":"/careers/position/209905",
"Quality Inspector":"/careers/position/208214"
}
