{
["0158:33 GMT on 2nd (9:58:33 p.m. EDT on 1st)",
"Vega • Optsat 3000 & Venus",
"Aug. 1/2"],
["TBD",
"Atlas 5 • TDRS M",
"TBD"],
["TBD",
"PSLV • IRNSS 1H",
"August"],
["0500-1400 GMT (1:00-10:00 a.m. EDT)",
"H-2A • Michibiki 3",
"Aug. 11"],
["0701-1100 GMT (3:01-7:00 a.m. EDT; 12:01-4:00 a.m. PDT)",
"Atlas 5 • NROL-42",
"Aug. 14"],
["TBD",
"Falcon 9 • SpaceX CRS 12",
"TBD"],
["TBD",
"Electron • Flight 2",
"Mid-2017"],
["1850 GMT (2:50 p.m. EDT; 11:50 a.m. PDT)",
"Falcon 9 • Formosat 5",
"Aug. 24"],
["0315-0715 GMT on 26th (11:15 p.m.-3:15 a.m. EDT on 25th/26th)",
"Minotaur 4 • ORS 5",
"Aug. 25/26"],
["TBD",
"Falcon 9 • OTV-5",
"Aug. 28"],
["TBD",
"Atlas 5 • NROL-52",
"Aug. 31"],
["TBD",
"Ariane 5 • Intelsat 37e & BSAT 4a",
"Sept. 1"],
["TBD",
"Proton • Amazonas 5",
"3rd Quarter"],
["TBD",
"Falcon 9 • Iridium Next 21-30",
"TBD"],
["TBD",
"Falcon 9 • SES 11/EchoStar 105",
"TBD"],
["TBD",
"Soyuz • ISS 52S",
"Sept. 12"],
["TBD",
"Rockot • Sentinel 5p",
"Sept. 21"],
["TBD",
"Falcon 9 • Koreasat 5A",
"TBD"],
["TBD",
"Proton • AsiaSat 9",
"Late 2017"],
["TBD",
"Falcon Heavy • Demo Flight",
"3rd Quarter"],
["TBD",
"Atlas 5 • AEHF 4",
"Oct. 11"],
["TBD",
"Antares • OA-8",
"Oct. 11"],
["0948 GMT (5:48 a.m. EDT; 2:48 a.m. PDT)",
"Delta 2 • JPSS 1",
"NET Oct. 12"],
["TBD",
"Soyuz • Progress 68P",
"Oct. 12"],
["TBD",
"Minotaur-C • SkySat",
"Oct. 18"],
["TBD",
"Falcon 9 • Iridium Next 31-40",
"October"],
["TBD",
"Falcon 9 • SpaceX CRS 13",
"NET Nov. 1"],
["TBD",
"H-2A • Michibiki 4",
"Late 2017"],
["TBD",
"Long March 5 • Chang’e 5",
"November"],
["Approx. 0100 GMT on 8th (8 p.m. EST on 7th)",
"Vega • MN35-13",
"Nov. 7/8"],
["TBD",
"Atlas 5 • SBIRS GEO Flight 4",
"Nov. 9"],
["1528 GMT (10:28 a.m. EST)",
"Pegasus XL • ICON",
"Nov. 14"],
["TBD",
"Ariane 5 • Galileo 19-22",
"December"],
["TBD",
"Falcon 9 • Iridium Next 41-50",
"December"],
["TBD",
"Delta 4 • NROL-47",
"Dec. 13"],
["TBD",
"Epsilon • ASNARO 2",
"Late 2017"],
["TBD",
"Soyuz • ISS 53S",
"Dec. 27"],
["TBD",
"Vega • Aeolus",
"Jan. 20"],
["TBD",
"Falcon Heavy • Arabsat 6A",
"Early 2018"],
["TBD",
"Soyuz • Progress 69P",
"Feb. 9"],
["1001 GMT (5:01 a.m. EST)",
"Atlas 5 • GOES-S",
"March 1"],
["TBD",
"Rockot • Sentinel 3B",
"March"],
["TBD",
"Soyuz • ISS 54S",
"March 9"],
["TBD",
"Falcon 9 • TESS",
"NET March 20"],
["TBD",
"Antares • OA-9",
"March"],
["TBD",
"Falcon 9 • Crew Dragon Demo 1",
"March"],
["TBD",
"Soyuz • Progress 70P",
"April 15"],
["TBD",
"Atlas 5 • AFSPC 11",
"April 18"],
["TBD",
"Falcon Heavy • STP-2",
"NET April 30"],
["1110 GMT (7:10 a.m. EDT; 4:10 a.m. PDT)",
"Atlas 5 • InSight",
"May 5"],
["TBD",
"Delta 4 • GPS 3-01",
"TBD"]}