[
["0158:33 GMT (9:58:33 p.m. EDT on 1st)",
"Vega • Optsat 3000 & Venus",
"Aug. 2",
"ZLV, Kourou, French Guiana"],
["TBD",
"Atlas 5 • TDRS M",
"TBD",
"SLC-41, Cape Canaveral Air Force Station, Florida"],
["TBD",
"PSLV • IRNSS 1H",
"August",
"Satish Dhawan Space Center, Sriharikota, India"],
["0500-1400 GMT (1:00-10:00 a.m. EDT)",
"H-2A • Michibiki 3",
"Aug. 11",
"Tanegashima Space Center, Japan"],
["0701-1100 GMT (3:01-7:00 a.m. EDT; 12:01-4:00 a.m. PDT)",
"Atlas 5 • NROL-42",
"Aug. 14",
"SLC-3E, Vandenberg Air Force Base, California"],
["TBD",
"Falcon 9 • SpaceX CRS 12",
"TBD",
"LC-39A, Kennedy Space Center, Florida"],
["TBD",
"Electron • Flight 2",
"Mid-2017",
"Launch Complex 1, Mahia Peninsula, New Zealand"],
["1850 GMT (2:50 p.m. EDT; 11:50 a.m. PDT)",
"Falcon 9 • Formosat 5",
"Aug. 24",
"SLC-4E, Vandenberg Air Force Base, California"],
["0315-0715 GMT on 26th (11:15 p.m.-3:15 a.m. EDT on 25th/26th)",
"Minotaur 4 • ORS 5",
"Aug. 25/26",
"SLC-46, Cape Canaveral Air Force Station, Florida"],
["TBD",
"Falcon 9 • OTV-5",
"Aug. 28",
"LC-39A, Kennedy Space Center, Florida"],
["TBD",
"Atlas 5 • NROL-52",
"Aug. 31",
"SLC-41, Cape Canaveral Air Force Station, Florida"],
["TBD",
"Ariane 5 • Intelsat 37e & BSAT 4a",
"Sept. 1",
"ELA-3, Kourou, French Guiana"],
["TBD",
"Proton • Amazonas 5",
"3rd Quarter",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Falcon 9 • Iridium Next 21-30",
"TBD",
"SLC-4E, Vandenberg Air Force Base, California"],
["TBD",
"Falcon 9 • SES 11/EchoStar 105",
"TBD",
"Cape Canaveral, Florida"],
["TBD",
"Soyuz • ISS 52S",
"Sept. 12",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Rockot • Sentinel 5p",
"Sept. 21",
"Plesetsk Cosmodrome, Russia"],
["TBD",
"Falcon 9 • Koreasat 5A",
"TBD",
"LC-39A, Kennedy Space Center, Florida"],
["TBD",
"Proton • AsiaSat 9",
"Late 2017",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Falcon Heavy • Demo Flight",
"3rd Quarter",
"LC-39A, Kennedy Space Center, Florida"],
["TBD",
"Atlas 5 • AEHF 4",
"Oct. 11",
"SLC-41, Cape Canaveral Air Force Station, Florida"],
["TBD",
"Antares • OA-8",
"Oct. 11",
"Pad 0A, Wallops Island, Virginia"],
["0948 GMT (5:48 a.m. EDT; 2:48 a.m. PDT)",
"Delta 2 • JPSS 1",
"NET Oct. 12",
"SLC-2W, Vandenberg Air Force Base, California"],
["TBD",
"Soyuz • Progress 68P",
"Oct. 12",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Minotaur-C • SkySat",
"Oct. 18",
"SLC-576E, Vandenberg Air Force Base, California"],
["TBD",
"Falcon 9 • Iridium Next 31-40",
"October",
"SLC-4E, Vandenberg Air Force Base, California"],
["TBD",
"Falcon 9 • SpaceX CRS 13",
"NET Nov. 1",
"Cape Canaveral, Florida"],
["TBD",
"H-2A • Michibiki 4",
"Late 2017",
"Tanegashima Space Center, Japan"],
["TBD",
"Long March 5 • Chang’e 5",
"November",
"Wenchang, China"],
["Approx. 0100 GMT on 8th (8 p.m. EST on 7th)",
"Vega • MN35-13",
"Nov. 7/8",
"ZLV, Kourou, French Guiana"],
["TBD",
"Atlas 5 • SBIRS GEO Flight 4",
"Nov. 9",
"SLC-41, Cape Canaveral Air Force Station, Florida"],
["1528 GMT (10:28 a.m. EST)",
"Pegasus XL • ICON",
"Nov. 14",
"L-1011, Kwajalein, Marshall Islands"],
["TBD",
"Ariane 5 • Galileo 19-22",
"December",
"ELA-3, Kourou, French Guiana"],
["TBD",
"Falcon 9 • Iridium Next 41-50",
"December",
"SLC-4E, Vandenberg Air Force Base, California"],
["TBD",
"Delta 4 • NROL-47",
"Dec. 13",
"SLC-6, Vandenberg Air Force Base, California"],
["TBD",
"Epsilon • ASNARO 2",
"Late 2017",
"Uchinoura Space Center, Japan"],
["TBD",
"Soyuz • ISS 53S",
"Dec. 27",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Vega • Aeolus",
"Jan. 20",
"ZLV, Kourou, French Guiana"],
["TBD",
"Falcon Heavy • Arabsat 6A",
"Early 2018",
"LC-39A, Kennedy Space Center, Florida"],
["TBD",
"Soyuz • Progress 69P",
"Feb. 9",
"Baikonur Cosmodrome, Kazakhstan"],
["1001 GMT (5:01 a.m. EST)",
"Atlas 5 • GOES-S",
"March 1",
"SLC-41, Cape Canaveral Air Force Station, Florida"],
["TBD",
"Rockot • Sentinel 3B",
"March",
"Plesetsk Cosmodrome, Russia"],
["TBD",
"Soyuz • ISS 54S",
"March 9",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Falcon 9 • TESS",
"NET March 20",
"SLC-40, Cape Canaveral Air Force Station, Florida"],
["TBD",
"Antares • OA-9",
"March",
"Pad 0A, Wallops Island, Virginia"],
["TBD",
"Falcon 9 • Crew Dragon Demo 1",
"March",
"LC-39A, Kennedy Space Center, Florida"],
["TBD",
"Soyuz • Progress 70P",
"April 15",
"Baikonur Cosmodrome, Kazakhstan"],
["TBD",
"Atlas 5 • AFSPC 11",
"April 18",
"SLC-41, Cape Canaveral Air Force Station, Florida"],
["TBD",
"Falcon Heavy • STP-2",
"NET April 30",
"LC-39A, Kennedy Space Center, Florida"],
["1110 GMT (7:10 a.m. EDT; 4:10 a.m. PDT)",
"Atlas 5 • InSight",
"May 5",
"SLC-3E, Vandenberg Air Force Base, California"],
["TBD",
"Delta 4 • GPS 3-01",
"TBD",
"SLC-37B, Cape Canaveral Air Force Station, Florida"]]
