{
["Vega • Optsat 3000 & Venus",
"0158:33 GMT on 2nd (9:58:33 p.m. EDT on 1st)",
"Aug. 1/2"],
["Atlas 5 • TDRS M",
"TBD",
"TBD"],
["PSLV • IRNSS 1H",
"TBD",
"August"],
["H-2A • Michibiki 3",
"0500-1400 GMT (1:00-10:00 a.m. EDT)",
"Aug. 11"],
["Atlas 5 • NROL-42",
"0701-1100 GMT (3:01-7:00 a.m. EDT; 12:01-4:00 a.m. PDT)",
"Aug. 14"],
["Falcon 9 • SpaceX CRS 12",
"TBD",
"TBD"],
["Electron • Flight 2",
"TBD",
"Mid-2017"],
["Falcon 9 • Formosat 5",
"1850 GMT (2:50 p.m. EDT; 11:50 a.m. PDT)",
"Aug. 24"],
["Minotaur 4 • ORS 5",
"0315-0715 GMT on 26th (11:15 p.m.-3:15 a.m. EDT on 25th/26th)",
"Aug. 25/26"],
["Falcon 9 • OTV-5",
"TBD",
"Aug. 28"],
["Atlas 5 • NROL-52",
"TBD",
"Aug. 31"],
["Ariane 5 • Intelsat 37e & BSAT 4a",
"TBD",
"Sept. 1"],
["Proton • Amazonas 5",
"TBD",
"3rd Quarter"],
["Falcon 9 • Iridium Next 21-30",
"TBD",
"TBD"],
["Falcon 9 • SES 11/EchoStar 105",
"TBD",
"TBD"],
["Soyuz • ISS 52S",
"TBD",
"Sept. 12"],
["Rockot • Sentinel 5p",
"TBD",
"Sept. 21"],
["Falcon 9 • Koreasat 5A",
"TBD",
"TBD"],
["Proton • AsiaSat 9",
"TBD",
"Late 2017"],
["Falcon Heavy • Demo Flight",
"TBD",
"3rd Quarter"],
["Atlas 5 • AEHF 4",
"TBD",
"Oct. 11"],
["Antares • OA-8",
"TBD",
"Oct. 11"],
["Delta 2 • JPSS 1",
"0948 GMT (5:48 a.m. EDT; 2:48 a.m. PDT)",
"NET Oct. 12"],
["Soyuz • Progress 68P",
"TBD",
"Oct. 12"],
["Minotaur-C • SkySat",
"TBD",
"Oct. 18"],
["Falcon 9 • Iridium Next 31-40",
"TBD",
"October"],
["Falcon 9 • SpaceX CRS 13",
"TBD",
"NET Nov. 1"],
["H-2A • Michibiki 4",
"TBD",
"Late 2017"],
["Long March 5 • Chang’e 5",
"TBD",
"November"],
["Vega • MN35-13",
"Approx. 0100 GMT on 8th (8 p.m. EST on 7th)",
"Nov. 7/8"],
["Atlas 5 • SBIRS GEO Flight 4",
"TBD",
"Nov. 9"],
["Pegasus XL • ICON",
"1528 GMT (10:28 a.m. EST)",
"Nov. 14"],
["Ariane 5 • Galileo 19-22",
"TBD",
"December"],
["Falcon 9 • Iridium Next 41-50",
"TBD",
"December"],
["Delta 4 • NROL-47",
"TBD",
"Dec. 13"],
["Epsilon • ASNARO 2",
"TBD",
"Late 2017"],
["Soyuz • ISS 53S",
"TBD",
"Dec. 27"],
["Vega • Aeolus",
"TBD",
"Jan. 20"],
["Falcon Heavy • Arabsat 6A",
"TBD",
"Early 2018"],
["Soyuz • Progress 69P",
"TBD",
"Feb. 9"],
["Atlas 5 • GOES-S",
"1001 GMT (5:01 a.m. EST)",
"March 1"],
["Rockot • Sentinel 3B",
"TBD",
"March"],
["Soyuz • ISS 54S",
"TBD",
"March 9"],
["Falcon 9 • TESS",
"TBD",
"NET March 20"],
["Antares • OA-9",
"TBD",
"March"],
["Falcon 9 • Crew Dragon Demo 1",
"TBD",
"March"],
["Soyuz • Progress 70P",
"TBD",
"April 15"],
["Atlas 5 • AFSPC 11",
"TBD",
"April 18"],
["Falcon Heavy • STP-2",
"TBD",
"NET April 30"],
["Atlas 5 • InSight",
"1110 GMT (7:10 a.m. EDT; 4:10 a.m. PDT)",
"May 5"],
["Delta 4 • GPS 3-01",
"TBD",
"TBD"]}